h4{
    font-size: 15px;
    font-weight: bold;
}
.contact{
    font-weight: bold;
    margin-right: 5px;
    text-decoration: none;
}
a{
    text-decoration: none;
    color: black;
}
.icons{
    margin-left: 15px;
    font-size: 40px;
    
}
.heading{
    font-size: 25px;
    text-decoration: underline;
    // margin-bottom: 100px;
}
.content{
    height: 30vh;
    width: 60vw;
    box-shadow: 10px 10px 10px 10px #dad6d6;
}