<div class="sm container mt-3">
  <div class="row">
    <div
      class="col content mb-3"
    >
      <Span class="ms-2 mb-2 font-weight-bold text-danger heading"
        >Contact Information</Span
      >
      <div class="col mt-3 contact-info">
         <p>
          <span class="contact mr-3">Number:</span
          ><a href="tel:9860894447">9860894447</a>
        </p>
        <p>
          <span class="contact mr-3">Email:</span
          ><a href="mailto:milanparajuli2058@gmail.com"
            >milanparajuli2058@gmail.com</a
          >
        </p>
        <p><span class="contact mr-3">Address:</span>Kapan, Kathmandu</p>
       <div class="icon">
        <span *ngFor="let contact of contacts;">
          <a href="{{contact.url}}"
           target="_blank" title="{{contact.name}}"
            >
            <!-- <mat-icon>{{contact?.icon}}</mat-icon> -->
            <span class="icons">
              <i class="{{contact.icon}}"></i>
            </span>
            </a
          >
        </span>
          <!--
          <a href="https://www.facebook.com/milanparajuli09" target="_blank"
            ><mat-icon>facebook</mat-icon></a
          >
          <a
            href="https://www.linkedin.com/in/milan-parajuli-0379a320a/"
            target="_blank"
            ><mat-icon>linkedin</mat-icon></a
          >
        </div> -->
      </div>
    </div>
  </div>
</div>
