// .sideb{
//     display: flex;
//     width: 20vw;
//     height: 60vh;
//     box-shadow: 10px 10px 10px 10px #dad6d6;
// }
.heading{
    font-size: 25px;
    text-decoration: underline;
    // margin-bottom: 100px;
}
// .address{
//     display:block;
// }
.detail{
    font-size: 15px;
}
.head{
    list-style: none;
}
.btn{
    border-radius: 30px;
}
.content{
    box-shadow: 10px 10px 10px 10px #dad6d6;
    overflow-y: auto;
    overflow-x: hidden;
    border-radius: 30px;
}
.skill{
    // height: 150px;
   padding-bottom: 15px;
    width: 150px;
    box-shadow: 10px 10px 10px 10px #dad6d6;
    border-radius: 5px;
}
h4{
    font-size: 15px;
    font-weight: bold;
}
.contact{
    font-weight: bold;
    margin-right: 5px;
    text-decoration: none;
}
a{
    text-decoration: none;
    color: black;
}
