<div class="container">
  <div class="content mt-3 mb-3">
    <div class="row m-2">
      <ul>
        <li class="head"><h2 class="mt-5">Resume</h2></li>
      </ul>
      <div class="col-md">
        <ul>
          <li class="head">
            <span class="material-icons">cast_for_education</span>
            <Span class="ms-2 mb-2 font-weight-bold text-danger heading"
              >Education</Span
            >
          </li>
          <ul>
            <li>
              <h2 class="mt-4">Secondary School</h2>
              <!-- <span class="pass-out">2073 BS</span> -->
              <button class="btn btn-secondary mb-2">2073 Bs</button>
              <p class="school detail">
                Shree Sunkoshi Secondary School
                <span class="address d-block detail"
                  >Bahrabise-2, Sindhupalchok</span
                >
              </p>
            </li>
            <li>
              <h2 class="mt-4">Higher Secondary School</h2>
              <!-- <span class="pass-out">2076 BS</span> -->
              <button class="btn btn-secondary mb-2">2076 Bs</button>
              <p class="school detail">
                Pushpalal Memorial College
                <span class="address d-block detail">Chabahil, Kathmandu</span>
              </p>
            </li>
            <li>
              <h2 class="mt-4">Bachelor</h2>
              <!-- <span class="pass-out">Running</span> -->
              <button class="btn btn-secondary mb-2">Running</button>
              <p class="school detail">
                Aadim National College
                <span class="address d-block detail"
                  >Chuchepati, Kathmandu</span
                >
              </p>
            </li>
          </ul>
        </ul>
      </div>
      <div class="col-md">
        <!--  -->
        <ul>
          <li class="head">
            <span class="material-icons">work</span>
            <Span class="ms-2 mb-2 font-weight-bold text-danger heading"
              >Work Experience</Span
            >
          </li>
          <ul>
            <li>
              <h2 class="mt-4">Software Developer Intern</h2>
              <!-- <span class="pass-out">2079 BS to Running</span> -->
              <button class="btn btn-secondary mb-2">2022 AD</button>
              <p class="detail">
                Aadim Innovation
                <span class="address d-block detail"
                  >Chuchepati, Kathmandu</span
                >
              </p>
            </li>
            <li>
              <h2 class="mt-4">Software Developer</h2>
              <!-- <span class="pass-out">2079 BS to Running</span> -->
              <button class="btn btn-secondary mb-2">2023 AD</button>
              <p class="detail">
                SB Solutions Nepal
                <span class="address d-block detail"
                  >Kamalpokhari, Kathmandu</span
                >
              </p>
            </li>
          </ul>
        </ul>
      </div>
    </div>
    <div class="row m-2">
      <Span class="ms-2 mb-2 font-weight-bold text-danger heading">Skills</Span>
      <div class="col-md">
        <ul>
          <li class="head">
            <!-- <span class="material-icons">Skill</span> -->
            <div class="skill ml-3">
              <h4 class="m-3">Frontend</h4>
              <ul>
                <li>HTML</li>
                <li>CSS</li>
                <li>Javascript, Angular</li>
                <li>Bootstrap</li>
                <li>Material UI</li>
              </ul>
            </div>
          </li>
        </ul>
      </div>
      <div class="col-md">
        <ul>
          <li class="head">
            <!-- <span class="material-icons">Skill</span> -->
            <div class="skill ml-3">
              <h4 class="m-3">Backend</h4>
              <ul>
                <li>Spring Boot (java)</li>
                <li>php</li>
              </ul>
            </div>
          </li>
        </ul>
      </div>
      <div class="col-md">
        <ul>
          <li class="head">
            <!-- <span class="material-icons">Skill</span> -->
            <div class="skill ml-3">
              <h4 class="m-3">Database</h4>
              <ul>
                <li>Mysql</li>
              </ul>
            </div>
          </li>
        </ul>
      </div>
      <div class="col-md">
        <ul>
          <li class="head">
            <!-- <span class="material-icons">Skill</span> -->
                <div class="skill ml-3">
                    <h4 class="m-3">Version Control</h4>
                    <ul>
                        <li>Github</li>
                        <li>Gitlab</li>
                        <li>Git</li>
                    </ul>
                </div>
          </li>
        </ul>
      </div>
    </div>
    <div class="row m-3">
        <app-contact-info></app-contact-info>
    </div>
  </div>
</div>
