<div class="sidebar">
  <mat-nav-list class="bg-dark sidebar">
    <h2 matSubheader class="mt-2">MILAN PARAJULI</h2>
    <div class="profile">
          <img src="../../../../assets/images/abc.jpg" alt="milan">
        </div>
    <mat-divider></mat-divider>
    

    <!-- <a mat-list-item
            *ngFor="let m of sidebarMenus; let i= index;" 
           [routerLink]="m?.url || null"
           [routerLinkActive]="m?.url ? 'list-item-active' : ''">
          <mat-icon>{{m?.icon}}</mat-icon>
          {{m?.name}}
        </a> -->
        <a mat-list-item>
          <h2>Name</h2>
        </a>
    <a mat-list-item>
      <h3>Milan Parajuli</h3>
    </a>
    
    <a mat-list-item>
      <h2>Email<mat-icon>gmail</mat-icon></h2>
    </a>
    <a mat-list-item>
        <a href="mailto:milanparajuli2058@gmail.com"> milanparajuli2058@gmail.com</a>
    </a>

    <!-- <a mat-list-item>
        <mat-icon>facebook facebook</mat-icon>
        <i class="bi bi-facebook">facebook</i>
         <mat-icon>github</mat-icon> 
    </a> -->
    <a mat-list-item>
      <h2>Number <mat-icon>phone</mat-icon></h2>
    </a>
    <a mat-list-item>
      <a href="tel:9860894447">9860894447</a>
    </a>
  </mat-nav-list>
</div>
