<div class="container">
  <div class="row">
    <div
      class="col mt-3"
      *ngFor="let certificate of certificate; let i = index"
    >
      <div class="card" style="width: 18rem">
        <a href="{{ certificate.img }}"
          ><img
            class="card-img-top certificate-img"
            src="{{ certificate.img }}"
            alt="Card image cap"
        /></a>
        <div class="card-body">
          <h5 class="card-title">{{ certificate.title }}</h5>
          <p class="card-text">
            <!-- Some quick example text to build on the card title and make up the
            bulk of the card's content. -->
            <!-- {{certificate.discription}} -->
          </p>
          <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
        </div>
      </div>
    </div>
  </div>
</div>
