<div class="container">
  <div class="row">
    <div class="col-6">
      <div class="card m-5">
        <img class="card-img" src="../../../assets/images/milan.jpg" alt="Card image cap">
        <div class="card-body">
          <h2 class="card-title intro heading">About</h2>
          <div class="content">
            <p class="card-text intro">My name is Milan Parajuli and I am from Sindhupalchok. I come from a Hindu family and I
              am a student of the BCA(Bachelor in Computer Application). Being in standard five, I am very well
              cared for and nurtured by my family. I study at Aadim National College My father is a School Teacher and
              my mother is a housewife. I have one Sister who complicated Bachelor's in BBM(Bachelor in Business Management).</p>
              
          </div>
          <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
        </div>
      </div>
    </div>
  </div>
</div>