<div class="container">
  <div class="row">
    <div class="col-6">
      <div class="card m-5">
        <img class="card-img" src="../../../assets/images/milan.jpg" alt="Card image cap">
        <div class="card-body">
          <h2 class="card-title intro heading">About</h2>
          <div class="content">
            <p class="card-text intro">I am a Full stack(java,Angular) developer with industry experience building web applications and services I specialize in java, Angular and have professional experience working with java and Angular. Take a look at my work or get in touch!.</p>
              
          </div>
          <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
        </div>
      </div>
    </div>
  </div>
</div>