.intro{
    overflow: auto;
    text-align: justify;
    margin-left:25px;
}
img{
    margin-left: 5%;
    margin-top: 40px;
    height: 30vh;
    width: 15vw;
}
.content{
    overflow: auto;
}
.card{
    box-shadow: 10px 10px 10px 10px #888888;
    overflow: auto;
    width: 60vw; 
    height: 65vh;
}
.card::-webkit-scrollbar {
    display: none;
  }
.card img{
    // box-shadow: 10px 10px 10px 10px #e2d1e5;
    align-items: center;
    border-radius: 50%;
    height: 150px;
    width: 150px;
}